:root {
  --clr-background: hsl(0deg, 0%, 5%);
  --clr-text: hsl(0deg, 0%, 95%);
  --clr-accent: hsl(118, 34.80%, 54.90%);
}

html {
  font-family: "Figtree", sans-serif;
}

#appBar {
  align-items: center;
  border-bottom: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
  gap: var(--md, 15px);
  height: 50px;
  padding: 0 var(--md, 15px);
  white-space: nowrap;

  & > * {
    align-items: inherit;
    gap: inherit;
  }

  :where(nav) {
    :where(a) {
      flex-shrink: 0;
      min-width: max-content;
    }

    :where(.icon) {
      &:hover {
        --opsz: 25;
      }
    }
  }

  :where(a:not(:hover, :active, :focus)) {
    color: inherit;
  }

  :where(hr) {
    height: 100%;
    width: 1px;
  }

  :where(#menu) {
    flex: 1 1;
    height: 100%;
  }

  :where(#more) {
    &::part(dropmenu) {
      gap: var(--xs, 5px);
    }

    & > hr {
      height: 1px;
      width: 100%;
    }
  }
}

.pane {
  background-color: var(--clr-background);
  height: 100dvh;
  inset: 0 0 auto auto;
  outline: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
  position: fixed;
  width: min(100%, 440px);

  :where(.icon:hover) {
    --opsz: 25;
  }

  & > label[for="searchbar"] {
    position: relative;

    & > .icon {
      inset: 0 auto 0 15px;
      position: absolute;
    }

    & > input {
      background-color: hsl(from var(--clr-background) h s calc(l + 5));
      border-radius: 0;
      padding-left: 45px;

      &:not(:focus-visible) {
        outline-color: hsl(from var(--clr-background) h s calc(l + 5));
      }
    }
  }
}